.ProductCard {
  overflow: hidden;
  position: relative;

  .card,
  .card-img-overlay,
  .card-img-top {
    border-radius: 0.25rem;
  }

  .card-img {
    height: 100%;
    object-fit: cover;
  }

  .card-img-overlay {
    background-color: rgba(black, .75);
    color: white;
    opacity: 0;
    transition: opacity ease-in-out .25s;
  }

  &:hover {
    .card-img-overlay {
      opacity: 1;
    }
  }

  .card-overlay {
    background-color: rgba(white, .75);
    height: 0;
    opacity: 0;
    position: absolute;
    transition: opacity .25s ease-in-out, height .25s ease-in-out;
    width: 100%;
  }

  &.processing {
    .card-overlay {
      background-color: rgba(white, .75);
      height: 100%;
      opacity: 1;
    }
  }
}