.SignInForm {
  margin: auto;
  max-width: 330px;
  padding: 1em;
  width: 100%;

  .checkbox {
    font-weight: 400;
  }

  .form-control {
    box-sizing: border-box;
    font-size: 1em;
    height: auto;
    padding: 1em;
    position: relative;

    &:focus {
      z-index: 2;
    }
  }

  input[type="email"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
  }

  input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 1em;
  }
}